-e git+https://github.com/suvancodes/Bank_Lone_Approval.git@d0d9287c2358a3290da7199ed412a03f552e4663#egg=Bank_Loan_Approval_Prediction
blinker==1.9.0
catboost==1.2.8
click==8.3.1
contourpy==1.3.3
cycler==0.12.1
dill==0.4.0
Flask==3.1.2
flask-cors==6.0.1
fonttools==4.60.1
graphviz==0.21
Jinja2==3.1.6
joblib==1.5.2
kiwisolver==1.4.9
MarkupSafe==3.0.3
matplotlib==3.10.7
narwhals==2.12.0
numpy==2.3.5
packaging==25.0
pandas==2.3.3
pillow==12.0.0
plotly==6.5.0
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
setuptools==78.1.1
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.2
Werkzeug==3.1.3
wheel==0.45.1
xgboost==3.1.2
